<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805536469310-gjtk4q1907qtf39jk7o2dkkjmmqm9je9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805536469310-gjtk4q1907qtf39jk7o2dkkjmmqm9je9</string>
	<key>API_KEY</key>
	<string>AIzaSyBYZitjbF-XmNrCjzImmeEa30LadfsqRfw</string>
	<key>GCM_SENDER_ID</key>
	<string>805536469310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.BooXapp</string>
	<key>PROJECT_ID</key>
	<string>boox-app-b553f</string>
	<key>STORAGE_BUCKET</key>
	<string>boox-app-b553f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805536469310:ios:f25b95851ecb9c5ff99c6f</string>
</dict>
</plist>